## Core latex/pdflatex auxiliary files:
**/*.idx
**/*.blg
**/*.bbl
**/*.ilg
**/*.ind
**/*.aux
**/*.xdv
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
**/*.fdb_latexmk
**/*.pdf
!figures/*.pdf
**/*.synctex.gz
